# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
backend/.venv/
backend/instance/
backend/*.db
backend/downloads/*

# Node
frontend/node_modules/
frontend/dist/

# Env files
.env
*.env
frontend/.env
backend/.env

# OS
.DS_Store
